@media(min-width:1500px) {
    .home-banner-area .container {
        max-width: 1440px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }

    .home-banner-area .container {
        max-width: 1340px
    }
}

@media(max-width:991px) {
    h3, h4 {
        line-height: 40px
    }

    h1 {
        font-size: 40px !important;
        line-height: 44px !important
    }

    h2 {
        font-size: 36px;
        line-height: 44px
    }

    h3 {
        font-size: 30px
    }

    h4 {
        font-size: 26px
    }

    h5 {
        font-size: 18px;
        line-height: 30px
    }

    header .nav-link {
        color: #0d263b
    }
}

@media(max-width:767px) {
    .home-banner-area {
        padding-bottom: 30px
    }

    .all-blog-packages, .blog-details-area, .contact-area, .footer-middle-area, .home-features-area, .home-hajj-pack .overlay, .home-holiday-pack .overlay, .home-umrah-pack, .home-visa-processing, .related-blog, .tour-packages, .why-choose-area {
        padding: 30px 0
    }

    .page-banner-area .overlay {
        padding-top: 50px
    }

    .country-dropdown-area .main-items .list {
        flex-wrap: wrap
    }
}

@media(min-width:1500px) {
    .home-banner-area .container {
        max-width: 1440px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }

    .home-banner-area .container {
        max-width: 1340px
    }
}

@media(max-width:991px) {
    h3, h4 {
        line-height: 40px
    }

    h1 {
        font-size: 40px !important;
        line-height: 44px !important
    }

    h2 {
        font-size: 36px;
        line-height: 44px
    }

    h3 {
        font-size: 30px
    }

    h4 {
        font-size: 26px
    }

    h5 {
        font-size: 18px;
        line-height: 30px
    }

    header .nav-link {
        color: #0d263b
    }
}

@media(max-width:767px) {
    .home-banner-area {
        padding-bottom: 30px
    }

    .all-blog-packages, .blog-details-area, .contact-area, .footer-middle-area, .home-features-area, .home-hajj-pack .overlay, .home-holiday-pack .overlay, .home-umrah-pack, .home-visa-processing, .related-blog, .tour-packages, .why-choose-area {
        padding: 30px 0
    }

    .page-banner-area .overlay {
        padding-top: 50px
    }

    .country-dropdown-area .main-items .list {
        flex-wrap: wrap
    }
}